@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@font-face {
    font-family: 'FontAwesome'; 
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0'); 
    src:url('../fonts/fontawesome-webfont.eot #iefix&v=4.4.0') format('embedded-opentype'), 
        url('../fonts/fontawesome webfont.woff2?v=4.4.0') format('woff2'), 
        url('../fonts/fontawesome webfont.woff?v=4.4.0') format('woff'),
        url('../fonts/fontawesome webfont.ttf?v=4.4.0') format('truetype'),
        url('../fonts/fontawesome webfont.svg?v=4.4.0#fontawesomeregular') format('svg'); 
    font-weight: normal; 
    font-style: normal;
}


html {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

/* Шапка сайта */
header {
  height: 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  @media (max-width: 620px) {
    header {
      height: 55px; } }

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #f38630;
  -webkit-box-shadow: 0px 0px 5px #D57300;
          box-shadow: 0px 0px 5px #D57300; }
  @media (max-width: 1025px) {
    .top-header {
      display: inline; } }
  @media (max-width: 1025px) {
    .top-header .top-header_col {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.navmenu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navmenu_logo .cat-face {
    background-image: url(../img/cat.svg);
    width: 42px;
    height: 42px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 600px) {
      .navmenu_logo .cat-face {
        width: 35px;
        height: 35px; } }
    @media (max-width: 390px) {
      .navmenu_logo .cat-face {
        width: 30px;
        height: 30px; } }
  .navmenu_logo .logo-text {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding-left: 10px;
    text-decoration: none; }
    .navmenu_logo .logo-text:hover {
      text-decoration: none; }
    @media (max-width: 600px) {
      .navmenu_logo .logo-text {
        font-size: 18px; } }
    @media (max-width: 390px) {
      .navmenu_logo .logo-text {
        font-size: 17px; } }
  .navmenu_logo:hover .cat-face {
    background-image: url(../img/cat-hover.svg); }
  .navmenu_logo:hover .logo-text {
    color: #FF8000; }

.nav-items .menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1025px) {
    .nav-items .menu {
      display: none; } }
  .nav-items .menu .search-icon {
    background-image: url(../img/search.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat; }
  .nav-items .menu .header-search {
    width: 100%;
    border-radius: 0 0 5px 5px;
    border: 1px solid;
    border-color: #FFFDED;
    padding: 5px;
    outline: none; }

/* Иконка и меню для мобильных */
.menu-icon {
  display: none; }
  @media (max-width: 1025px) {
    .menu-icon {
      display: block;
      background-image: url(../img/menu.svg);
      width: 35px;
      height: 35px;
      margin: 15px;
      background-size: cover;
      background-repeat: no-repeat; }
      .menu-icon_close {
        display: block;
        background-image: url(../img/close.svg);
        width: 30px;
        height: 30px;
        margin: 15px; } }
    @media (max-width: 1025px) and (max-width: 600px) {
      .menu-icon_close {
        width: 28px;
        height: 28px; } }
    @media (max-width: 1025px) and (max-width: 390px) {
      .menu-icon_close {
        width: 20px;
        height: 20px; } }

  @media (max-width: 600px) {
    .menu-icon {
      width: 28px;
      height: 28px; } }
  @media (max-width: 390px) {
    .menu-icon {
      width: 20px;
      height: 20px; } }

.menu_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* Итемы меню */
.menu_top-item {
  display: inline-block;
  padding: 20px 20px;
  font-family: Montserrat;
  font-size: 16px;
  position: relative; }
  .menu_top-item:hover {
    background-color: #FFFDED; }
  .menu_top-item .menu_top-link {
    color: #000; }
  .menu_top-item:hover .menu_top-link {
    color: #FF8000; }
  .menu_top-item:hover .search-icon {
    background-image: url(../img/search-hover.svg); }
  .menu_top-item:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
    color: #FF8000;
    top: 0;
    opacity: .5; }
    .menu_top-item:after:hover {
      opacity: 0; }
  .menu_top-item:last-child:after {
    content: none; }

/* Пункты подменю */
.menu_top-item:hover .navmenu_down-item {
  -webkit-transform: scaleY(1);
          transform: scaleY(1); }

.navmenu_down-item {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  min-width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: white;
  border: 1px solid rgba(213, 115, 0, 0.45);
  border-radius: 0 0 5px 5px;
  white-space: nowrap;
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.7); }
  .navmenu_down-item .down-link {
    list-style: none;
    padding: 5px 8px;
    font-size: 14px;
    border-bottom: 1px solid #FFF0BA; }
    .navmenu_down-item .down-link:last-child {
      border-radius: 0 0 5px 5px;
      border-bottom: none; }
    .navmenu_down-item .down-link a {
      color: #000; }
    .navmenu_down-item .down-link:hover {
      background-color: #FFFDED; }
      .navmenu_down-item .down-link:hover a {
        color: #FF8000; }

.menu_top-item:last-child .navmenu_down-item {
  margin-left: -300px;
  width: 358px; }

/* Главная страница */
.content {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .content h1 {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 650;
    line-height: 0.9; }
    @media (max-width: 600px) {
      .content h1 {
        font-size: 28px; } }
    @media (max-width: 410px) {
      .content h1 {
        font-size: 26px; } }
  .content h2 {
    font-size: 28px; }
    @media (max-width: 600px) {
      .content h2 {
        font-size: 25px; } }
    @media (max-width: 410px) {
      .content h2 {
        font-size: 22px; } }
  @media (max-width: 1080px) {
    .content {
      max-width: 95%; } }
  @media (max-width: 540px) {
    .content {
      margin-left: 15px; } }
  .content h3 a {
    color: #000; }
  .content img {
    width: 100%; }

.major-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  margin: 20px 0; }
  @media (max-width: 760px) {
    .major-posts {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 620px) {
    .major-posts {
      margin: 10px 0; } }
  .major-posts img {
    border-radius: 5px; }
  .major-posts .single-post:hover img {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .major-posts .single-post:hover h3 a {
    -webkit-box-shadow: inset 0 -1px #E0E0E0;
            box-shadow: inset 0 -1px #E0E0E0;
    padding-bottom: 1px;
    color: #EE451F; }
  .major-posts .main-post {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    margin: 10px 20px 20px 0; }
    .major-posts .main-post h3 {
      font-size: 28px;
      padding-top: 5px;
      line-height: 1; }
      @media (max-width: 760px) {
        .major-posts .main-post h3 {
          font-size: 24px; } }
      @media (max-width: 410px) {
        .major-posts .main-post h3 {
          font-size: 20px; } }
    @media (max-width: 1024px) {
      .major-posts .main-post {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%; } }
    @media (max-width: 922px) {
      .major-posts .main-post {
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%; } }
    @media (max-width: 760px) {
      .major-posts .main-post {
        -ms-flex-preferred-size: 85%;
            flex-basis: 85%; } }
    @media (max-width: 640px) {
      .major-posts .main-post {
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%; } }
  .major-posts .add-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 10px 20px 10px 20px; }
    @media (max-width: 480px) {
      .major-posts .add-posts {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .major-posts .add-posts h3 {
      font-size: 20px;
      padding-top: 5px; }
      @media (max-width: 600px) {
        .major-posts .add-posts h3 {
          font-size: 17px; } }
      @media (max-width: 410px) {
        .major-posts .add-posts h3 {
          font-size: 16px; } }
    .major-posts .add-posts .single-post {
      padding-bottom: 20px;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }
      @media (max-width: 1024px) {
        .major-posts .add-posts .single-post {
          margin-right: 20px; } }
      @media (max-width: 760px) {
        .major-posts .add-posts .single-post {
          margin-right: 15px;
          -ms-flex-preferred-size: 47%;
              flex-basis: 47%; } }
      @media (max-width: 480px) {
        .major-posts .add-posts .single-post {
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%; } }
    @media (max-width: 1024px) {
      .major-posts .add-posts {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; } }
    @media (max-width: 922px) {
      .major-posts .add-posts {
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%; } }
    @media (max-width: 760px) {
      .major-posts .add-posts {
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-left: 0; } }
    @media (max-width: 640px) {
      .major-posts .add-posts {
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%; } }

.info-about-post {
  font-size: 14px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 640px) {
    .info-about-post {
      font-size: 12px; } }
  .info-about-post a {
    -webkit-box-shadow: inset 0 -1px #E0E0E0;
            box-shadow: inset 0 -1px #E0E0E0;
    padding-bottom: 1px;
    color: #FF8000; }
    .info-about-post a:hover {
      text-decoration: none;
      color: #EE451F; }
  .info-about-post .time-icon {
    background-image: url(../img/time.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px; }
    @media (max-width: 550px) {
      .info-about-post .time-icon {
        width: 17px;
        height: 17px;
        margin-right: 3px; } }
  .info-about-post .category-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 5px 0 10px; }
    @media (max-width: 550px) {
      .info-about-post .category-icon {
        width: 17px;
        height: 17px;
        margin: 0 3px 0 5px; } }
  .info-about-post .prof {
    background-image: url(../img/category/vitamins.svg); }
  .info-about-post .news {
    background-image: url(../img/category/news.svg); }
  .info-about-post .facts {
    background-image: url(../img/category/facts.svg); }
  .info-about-post .soderzh {
    background-image: url(../img/category/sod.svg); }
  .info-about-post .razv {
    background-image: url(../img/category/like.svg); }
  .info-about-post .poved {
    background-image: url(../img/category/poved.svg); }
  .info-about-post .kitten {
    background-image: url(../img/category/toy.svg); }
  .info-about-post .feed {
    background-image: url(../img/category/cat-food.svg); }
  .info-about-post .cute {
    background-image: url(../img/category/cute.svg); }
  .info-about-post .heal {
    background-image: url(../img/category/heal.svg); }

.breeds_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .breeds_carousel .card {
    width: 30%;
    word-wrap: normal !important;
    margin: 10px 10px 20px 10px;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border: none !important; }
    .breeds_carousel .card:hover {
      -webkit-transition: 0.4s;
      transition: 0.4s;
      -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .breeds_carousel .card:hover h3 {
        color: darkorange; }
    .breeds_carousel .card a {
      text-decoration: none !important;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .breeds_carousel .card .card-title {
      margin-bottom: .75rem;
      font-size: 18px;
      color: #FF8000; }
    .breeds_carousel .card .card-text {
      font-size: 14px;
      margin-bottom: 0;
      color: #333333;
      text-decoration: none; }
    @media (max-width: 1024px) {
      .breeds_carousel .card:nth-child(4) {
        display: none; } }
    @media (max-width: 600px) {
      .breeds_carousel .card {
        width: 50%; }
        .breeds_carousel .card:nth-child(3) {
          display: none; } }
    @media (max-width: 420px) {
      .breeds_carousel .card {
        width: 85%; }
        .breeds_carousel .card:nth-child(2) {
          display: none; } }

.arrow-carousel {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fff;
  border: none;
  width: 18px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .arrow-carousel {
      width: 11px;
      height: 20px; } }

.left {
  background-image: url(../img/left-arrow.svg); }
  .left:hover {
    background-image: url(../img/left-arrow-hover.svg);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.right {
  background-image: url(../img/right-arrow.svg); }
  .right:hover {
    background-image: url(../img/right-arrow-hover.svg);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.breeds-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }
  @media (max-width: 620px) {
    .breeds-info {
      margin-top: 15px;
      margin-bottom: 30px; } }
  @media (max-width: 380px) {
    .breeds-info {
      padding-left: 0;
      padding-right: 15px; } }
  .breeds-info .choose-breed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 650px; }
    @media (max-width: 1050px) {
      .breeds-info .choose-breed {
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%; } }
    @media (max-width: 760px) {
      .breeds-info .choose-breed {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .breeds-info .choose-breed img {
      border-radius: 0.5em;
      -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
              box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45); }
    .breeds-info .choose-breed h3 {
      margin: -85px 25px 5px;
      text-shadow: 0 3px 2px black;
      font-size: 26px;
      color: #fff; }
      @media (max-width: 470px) {
        .breeds-info .choose-breed h3 {
          font-size: 20px;
          margin-top: -65px; } }
      @media (max-width: 342px) {
        .breeds-info .choose-breed h3 {
          font-size: 18px; } }
    .breeds-info .choose-breed a:hover h3 {
      color: #FF8000; }
    .breeds-info .choose-breed p {
      margin: 0px 25px 24px;
      color: #fff;
      text-shadow: 0 2px 2px black;
      font-family: Lora;
      opacity: .8; }
      @media (max-width: 470px) {
        .breeds-info .choose-breed p {
          font-size: 14px; } }
      @media (max-width: 342px) {
        .breeds-info .choose-breed p {
          font-size: 12px; } }
  .breeds-info .type-breeds {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-left: 20px;
    padding: 15px 25px 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5em;
    background-color: #53bbf4;
    color: #fff; }
    @media (max-width: 760px) {
      .breeds-info .type-breeds {
        margin-left: 0;
        margin-top: 30px;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media (max-width: 470px) {
      .breeds-info .type-breeds {
        margin-top: 15px; } }
    .breeds-info .type-breeds h3 {
      padding-bottom: 15px; }
      @media (max-width: 900px) {
        .breeds-info .type-breeds h3 {
          font-size: 22px; } }
      @media (max-width: 470px) {
        .breeds-info .type-breeds h3 {
          font-size: 20px; } }
    @media (max-width: 900px) {
      .breeds-info .type-breeds p {
        font-size: 15px; } }
    @media (max-width: 470px) {
      .breeds-info .type-breeds p {
        font-size: 14px; } }
    .breeds-info .type-breeds a {
      -webkit-box-shadow: inset 0 -1px #E0E0E0;
              box-shadow: inset 0 -1px #E0E0E0;
      padding-bottom: 2px;
      color: #fff; }
      .breeds-info .type-breeds a:hover {
        text-decoration: none;
        color: #400D12; }

.carousel-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px; }
  @media (max-width: 620px) {
    .carousel-posts {
      margin-top: 15px;
      margin-bottom: 30px; } }
  .carousel-posts .single-post {
    margin: 0 10px 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
    .carousel-posts .single-post h3 {
      padding-top: 5px;
      font-size: 20px; }
      @media (max-width: 600px) {
        .carousel-posts .single-post h3 {
          font-size: 17px; } }
    .carousel-posts .single-post:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .carousel-posts .single-post:hover h3 a {
        -webkit-box-shadow: inset 0 -1px #E0E0E0;
                box-shadow: inset 0 -1px #E0E0E0;
        padding-bottom: 1px;
        color: #EE451F; }
    @media (max-width: 850px) {
      .carousel-posts .single-post {
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%; }
        .carousel-posts .single-post:nth-child(4) {
          display: none; } }
    @media (max-width: 550px) {
      .carousel-posts .single-post {
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%; }
        .carousel-posts .single-post:nth-child(2) {
          display: none; } }
    @media (max-width: 450px) {
      .carousel-posts .single-post {
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; } }
  .carousel-posts .arrow-carousel {
    width: 16px;
    height: 30px; }
    @media (max-width: 410px) {
      .carousel-posts .arrow-carousel {
        width: 14px;
        height: 26px; } }

.big .single-post {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0 20px 0; }
  .big .single-post h3 {
    font-size: 26px; }
    @media (max-width: 640px) {
      .big .single-post h3 {
        font-size: 17px; } }
  @media (max-width: 550px) {
    .big .single-post {
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%; } }
  @media (max-width: 450px) {
    .big .single-post {
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; } }
.big .arrow-carousel {
  width: 20px;
  height: 37px; }
  @media (max-width: 410px) {
    .big .arrow-carousel {
      width: 14px;
      height: 26px; } }

.posts-with-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5em;
  background-color: #f9ac3b;
  padding: 25px 25px 50px; }
  @media (max-width: 820px) {
    .posts-with-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 820px) {
    .posts-with-list {
      padding-bottom: 20px; } }
  @media (max-width: 620px) {
    .posts-with-list {
      padding: 15px 15px 20px;
      margin-top: 15px;
      margin-bottom: 30px; } }
  @media (max-width: 500px) {
    .posts-with-list {
      max-width: 95%; } }
  .posts-with-list .single-post {
    background-color: #fff;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    position: relative;
    margin-right: 25px;
    border-radius: 0.3em;
    min-height: 330px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); }
    @media (max-width: 1024px) {
      .posts-with-list .single-post {
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%; } }
    @media (max-width: 820px) {
      .posts-with-list .single-post {
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
        min-height: 350px; } }
    @media (max-width: 620px) {
      .posts-with-list .single-post {
        min-height: 300px; } }
    @media (max-width: 560px) {
      .posts-with-list .single-post {
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
        min-height: 365px;
        margin-bottom: 15px; } }
    @media (max-width: 450px) {
      .posts-with-list .single-post {
        min-height: 325px; } }
    @media (max-width: 390px) {
      .posts-with-list .single-post {
        min-height: 290px; } }
    .posts-with-list .single-post img {
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px); }
    .posts-with-list .single-post h3 {
      line-height: 1;
      font-size: 22px;
      padding: 10px; }
      @media (max-width: 620px) {
        .posts-with-list .single-post h3 {
          font-size: 18px; } }
    .posts-with-list .single-post .info-about-post {
      padding: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 5px; }
    .posts-with-list .single-post:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .posts-with-list .single-post:hover h3 a {
      -webkit-box-shadow: inset 0 -1px #E0E0E0;
              box-shadow: inset 0 -1px #E0E0E0;
      padding-bottom: 1px;
      color: #EE451F; }
  .posts-with-list .main-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 35%;
    padding: 0 10px 0; }
    @media (max-width: 1024px) {
      .posts-with-list .main-list {
        max-width: 30%; } }
    @media (max-width: 820px) {
      .posts-with-list .main-list {
        margin-top: 20px;
        max-width: 80%; } }
    .posts-with-list .main-list .more {
      margin-top: 10px;
      text-align: right; }
      .posts-with-list .main-list .more a {
        font-size: 14px;
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 0.5em;
        padding: 4px;
        -webkit-box-shadow: none;
                box-shadow: none; }
      @media (max-width: 820px) {
        .posts-with-list .main-list .more {
          text-align: left; } }
    .posts-with-list .main-list h3 {
      color: #fff;
      font-size: 26px; }
      @media (max-width: 620px) {
        .posts-with-list .main-list h3 {
          font-size: 22px; } }
    .posts-with-list .main-list p {
      margin-bottom: 0.5rem;
      font-size: 16px; }
      @media (max-width: 620px) {
        .posts-with-list .main-list p {
          font-size: 14px; } }
    .posts-with-list .main-list a {
      -webkit-box-shadow: inset 0 -1px #E0E0E0;
              box-shadow: inset 0 -1px #E0E0E0;
      padding-bottom: 2px;
      color: #fff; }
      .posts-with-list .main-list a:hover {
        text-decoration: none;
        color: #EE451F; }

.news-posts {
  background-color: #84CF96; }
  .news-posts .main-list a:hover {
    color: #260033; }

.posts-with-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0 50px; }
  .posts-with-thumb img {
    border-radius: 0.5rem; }
  @media (max-width: 790px) {
    .posts-with-thumb {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 620px) {
    .posts-with-thumb {
      margin-bottom: 30px; } }
  .posts-with-thumb .top-post {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-right: 20px; }
    .posts-with-thumb .top-post .single-post:hover h3 a {
      -webkit-box-shadow: inset 0 -1px #E0E0E0;
              box-shadow: inset 0 -1px #E0E0E0;
      padding-bottom: 1px;
      color: #EE451F; }
    @media (max-width: 1024px) {
      .posts-with-thumb .top-post {
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%; } }
    @media (max-width: 922px) {
      .posts-with-thumb .top-post {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; } }
    @media (max-width: 790px) {
      .posts-with-thumb .top-post {
        -ms-flex-preferred-size: 85%;
            flex-basis: 85%; } }
    @media (max-width: 640px) {
      .posts-with-thumb .top-post {
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%; } }
    .posts-with-thumb .top-post h3 {
      font-size: 28px; }
      @media (max-width: 760px) {
        .posts-with-thumb .top-post h3 {
          font-size: 24px; } }
      @media (max-width: 410px) {
        .posts-with-thumb .top-post h3 {
          font-size: 20px; } }
  .posts-with-thumb .another-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 41%;
        flex-basis: 41%; }
    @media (max-width: 922px) {
      .posts-with-thumb .another-posts {
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%; } }
    @media (max-width: 790px) {
      .posts-with-thumb .another-posts {
        margin-top: 30px;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; } }
    @media (max-width: 640px) {
      .posts-with-thumb .another-posts {
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%; } }
    @media (max-width: 340px) {
      .posts-with-thumb .another-posts {
        -ms-flex-preferred-size: 98%;
            flex-basis: 98%; } }
    .posts-with-thumb .another-posts .single-post {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-bottom: 10px; }
      .posts-with-thumb .another-posts .single-post .thumb-img {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%; }
      .posts-with-thumb .another-posts .single-post .thumb-content {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 10px; }
      .posts-with-thumb .another-posts .single-post h3 {
        font-size: 16px;
        color: #000; }
      .posts-with-thumb .another-posts .single-post:hover h3 {
        color: #EE451F; }
  .posts-with-thumb .more {
    margin-top: 10px;
    text-align: right; }
    @media (max-width: 790px) {
      .posts-with-thumb .more {
        text-align: left; } }
    .posts-with-thumb .more a {
      font-size: 14px;
      font-weight: 500;
      color: #000;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 0.5em;
      padding: 4px;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .posts-with-thumb .more a:hover {
        color: #EE451F; }

/* Футер */
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer_orange {
  background-color: #F17022;
  padding: 20px 0;
  font-weight: 600;
  color: white; }
  .footer_orange .footer-content {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    font-size: 16px; }
    @media (max-width: 480px) {
      .footer_orange .footer-content {
        font-size: 14px; } }

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 830px) {
    .contact-content .contact-info {
      padding-bottom: 10px; } }
  .contact-content .pages {
    display: inline-block;
    padding-right: 100px; }
    @media (max-width: 480px) {
      .contact-content .pages {
        padding-bottom: 10px; } }
    .contact-content .pages a {
      color: white; }
      .contact-content .pages a:hover {
        color: #FFFBBD;
        -webkit-box-shadow: inset 0 -1px #E0E0E0;
                box-shadow: inset 0 -1px #E0E0E0; }
  .contact-content .social-icons {
    display: inline-block;
    padding-right: 10px; }
    .contact-content .social-icons .vk-icon {
      background-image: url(../img/vk.svg);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover; }
      .contact-content .social-icons .vk-icon:hover {
        background-image: url(../img/vk-hover.svg);
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .contact-content .social-icons .twit-icon {
      background-image: url(../img/twitter.svg);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover; }
      .contact-content .social-icons .twit-icon:hover {
        background-image: url(../img/twitter-hover.svg);
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: 0.3s;
        transition: 0.3s; }

.copyright {
  margin-bottom: 0;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0; }

/* Форма подписки */
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.7); }

.email-butt {
  margin-left: -15px;
  padding: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#91e842), to(#ffe869));
  background: linear-gradient(to bottom, #91e842 0%, #ffe869 100%);
  border: 1px solid;
  border-color: #4c9d50 #4c9d50 #4c9d50 #55af5a;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  font-weight: 600; }
  .email-butt:hover {
    -webkit-box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.7);
            box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .email-butt:focus {
    outline: none; }

.email-input {
  padding: 0 15px;
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: #444;
  background: #fefefe;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #999 #aaa #aaa;
  border-radius: 20px;
  outline: none; }

/*Страница 404*/
.message-404 {
  margin: 40px 0 60px 0;
  text-align: center; }

.message-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lora;
  font-size: 20px;
  margin-top: 20px; }
  .message-body .cat-404 {
    background-image: url(../img/404.svg);
    width: 210px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover; }
  .message-body p {
    padding-left: 20px;
    max-width: 50%; }

.see-also {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .see-also .single-post {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 15px 30px 20px 0; }
    .see-also .single-post img {
      border-radius: 3px; }

.end-404 {
  margin-top: 30px;
  font-size: 20px; }
  .end-404 p {
    font-family: Lora;
    margin-bottom: 0; }
  .end-404 a {
    -webkit-box-shadow: inset 0 -1px #E0E0E0;
            box-shadow: inset 0 -1px #E0E0E0;
    padding-bottom: 1px;
    color: #FF8000; }
    .end-404 a:hover {
      text-decoration: none;
      color: #EE451F; }

/*
a {
	box-shadow: inset 0 -1px $grey;
	padding-bottom: 2px;
	color: $orange;
	&:hover {
		text-decoration: none;
		color: darkorange;
	}
} */

/*# sourceMappingURL=style.css.map */
